.card{
    width: 16rem;
    align-items: center;
}
.titulo{
    height: 10rem;
    background-color: rgb(197, 197, 197);
}
.footer{
    position: absolute;
    bottom: 0;
    height: 10rem;
    width: 100%;
    background-color: grey;
    text-align: center;
    color: rgb(247, 247, 183);
}
.navbar{
    background-color: grey;
}